self.originURL = "<%= %>"
importScripts(
  "<%= Routes.static_path(@conn, "/js/vendors~credential-manager-cb~credential-manager-sw~mypage.js") %>",
  "<%= Routes.static_path(@conn, "/js/credential-manager-sw.js") %>"
)