.sidebar-userinfo {
  width: 250px;
}

.sidebar-avatar {
  margin: 20px auto 20px auto;
}

.sidebar-username {
  margin: auto auto 40px auto;
}

.normal-text {
  color: #001959;
}

.dashboard {
  display: -webkit-flex;
  display: flex;
}

.sidebar {
  width: 340px;
}

.sidebar-content {
  margin-left: 50px;
}

.sidebar-button-base {
  width: 272px;
  border-radius: 13px;
  height: 48px;
  margin-left: -8px;
  margin-top: 2px;
  outline: none;
  cursor: pointer;
  text-align: left;
  margin-bottom: 17px;
  border: none;
}

.sidebar-button {
  @extend .sidebar-button-base;
  background: #fff;
}

.sidebar-button-not-selected {
  @extend .sidebar-button-base;
  background: none;
}

.sidebar-button-text-base {
  font-size: 16px;
  margin-left: 40px;
}

.sidebar-button-text {
  @extend .sidebar-button-text-base;
  color: #6221ED;
}

.sidebar-button-text-not-selected {
  @extend .sidebar-button-text-base;
  color: #C6C6C6;
}
