<div class="hidden bg-white lg:fixed lg:inset-y-0 lg:z-50 lg:flex lg:w-72 lg:flex-col">
  <div class="flex grow flex-col gap-y-5 overflow-y-auto px-6 pb-4 border-r border-gray-200">
    <div class="flex h-16 shrink-0 items-center">
      <img class="h-8 w-auto rounded-full" src={~p"/images/logo.jpg"} alt="VirtualCrypto" />
    </div>
    <nav class="flex flex-1 flex-col">
      <ul role="list" class="flex flex-1 flex-col gap-y-7">
        <li>
          <.navigation />
        </li>
        <li class="mt-auto">
          <a
            href="#"
            class="group -mx-2 flex gap-x-3 rounded-md p-2 text-sm/6 font-semibold hover:bg-white/5 hover:text-white"
          >
            <.icon name="hero-cog-8-tooth" class="size-6 shrink-0" /> Settings
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
