<ul role="list" class="-mx-2 space-y-1">
  <.nav_link name="Overview" icon="hero-home" href={~p"/app"} />
  <.nav_link name="Inbox" icon="hero-inbox" href={~p"/app/inbox"} />
  <.nav_link name="Money" icon="hero-currency-yen" href={~p"/app/balances"} />
</ul>
