-----BEGIN CERTIFICATE-----
MIIDSjCCAjKgAwIBAgIUSqlqt0VksivdBwKTU31LfgVkdwcwDQYJKoZIhvcNAQEL
BQAwgagxCzAJBgNVBAYTAlVTMRMwEQYDVQQIEwpDYWxpZm9ybmlhMRYwFAYDVQQH
Ew1TYW4gRnJhbmNpc2NvMRkwFwYDVQQKExBDbG91ZGZsYXJlLCBJbmMuMRswGQYD
VQQLExJ3d3cuY2xvdWRmbGFyZS5jb20xNDAyBgNVBAMTK01hbmFnZWQgQ0EgZjRk
NzU2ZjUxOGJmM2ZiMzA2YjlhMGNmMTZiMTA3ZTYwHhcNMjEwOTIyMTQzNjAwWhcN
MzYwOTE4MTQzNjAwWjAiMQswCQYDVQQGEwJVUzETMBEGA1UEAxMKQ2xvdWRmbGFy
ZTBZMBMGByqGSM49AgEGCCqGSM49AwEHA0IABEs8Ob3+e53iYrhe8Gvf1DHEbk5x
VziC49ham0D/Ffaf8W6ExTX1EOULn3/qqRomb+BCtr/R4q/1JWHWZxc2D7ejgbsw
gbgwEwYDVR0lBAwwCgYIKwYBBQUHAwIwDAYDVR0TAQH/BAIwADAdBgNVHQ4EFgQU
6XnYex675PYGagWtOKMvYR4YD4IwHwYDVR0jBBgwFoAUUIwk93w+swwMZQ2bUUOq
h1QaZBgwUwYDVR0fBEwwSjBIoEagRIZCaHR0cDovL2NybC5jbG91ZGZsYXJlLmNv
bS83MjAyMGIxYS0zNGY2LTQxM2YtODExMy0xYzg2MGRhODQyM2QuY3JsMA0GCSqG
SIb3DQEBCwUAA4IBAQApxKqerMqkaLEDguMz7nv+k+hrxUW9dkUm8+hdo0xwEjgx
PLrFUyIedUchhQYSSCP+bwqbbVdT+dnkNNVpdbwtOc60Ha3+DjstTLPsogIb+Zeh
nkXEdRuFw5nKJyV5WZt/7fRtkNXmM9iUgLRj7yY5Mxgz8pb8dmg6hhfeej6JEYPm
5Hun/HYShU+dTkbT0U06C5EoMytSbo2GEeomt/81a3zNALWvW4pRUxEDI1hEfZsM
+IcvWbhzZbmYeok3bpcv9NeUOoEH8AdTOs4tZN/ZlQ9Of0jFWZAWOVxyjpm+cMpO
4H3h2bJJjI1jx2wv6K6CMLX1w3GIeAvgeS7WOUjr
-----END CERTIFICATE-----
