/* This file is for your main application css. */
//@import "./phoenix.css";
$info: rgba(98, 33, 237, 1);

$menu-item-radius: 20px;

$menu-item-active-background-color: rgba(98, 33, 237, 0.17);

$menu-item-active-color: rgba(98, 33, 237, 0.8);

@import "../node_modules/bulma/bulma.sass";

/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

.circle{
  border-radius: 50%;
  background-size: 200px 200px;
}

.linktile {
  text-decoration: none;
  color: white;
}

.my-card {
  border: rgba(98, 33, 237, 0.6);
}