<script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/static/js/vendors~credential-manager-cb~credential-manager-sw~mypage.js") %>"></script>
<script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/static/js/mypage.js") %>"></script>
<div id="elm-mypage"></div>
