<.flash_group flash={@flash} />
<div>
  <div class="bg-white py-12 sm:py-24">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:mx-0">
        <h2 class="text-5xl font-semibold tracking-tight text-gray-900 sm:text-7xl">Features</h2>
        <p class="mt-8 text-lg font-medium text-pretty text-gray-500 sm:text-xl/8">
          VirtualCryptoの機能について紹介します．
        </p>
      </div>
    </div>
  </div>
  <div class="overflow-hidden bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
        <div class="lg:pt-4 lg:pr-8">
          <div class="lg:max-w-lg">
            <h2 class="text-base/7 font-semibold text-indigo-600">Discord上で通貨を簡単にやり取りできる</h2>
            <p class="mt-2 text-4xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-5xl">
              画期的な通貨システム
            </p>
            <p class="mt-6 text-lg/8 text-gray-600">
              コマンド一つで友達に通貨を送信できる。Botと連携してサーバーの体験を拡張できる．
            </p>
            <dl class="mt-10 max-w-xl space-y-8 text-base/7 text-gray-600 lg:max-w-none">
              <div class="relative pl-9">
                <dt class="inline font-semibold text-gray-900">
                  <.icon name="hero-slash" class="absolute top-1 left-1 size-5 text-brand" />
                  わかりやすいコマンド。
                </dt>
                <dd class="inline">
                  わかりやすく少ないコマンドで通貨のやり取りができます。
                </dd>
              </div>
              <div class="relative pl-9">
                <dt class="inline font-semibold text-gray-900">
                  <.icon name="hero-check-badge" class="absolute top-1 left-1 size-5 text-brand" />
                  通貨に対する強い制限。
                </dt>
                <dd class="inline">
                  通貨には総発行枚数の5%/日の発行枚数制限があり、通貨のインフレを防ぎます。
                </dd>
              </div>
              <div class="relative pl-9">
                <dt class="inline font-semibold text-gray-900">
                  <.icon name="hero-user" class="absolute top-1 left-1 size-5 text-brand" />
                  ユーザーを守る。
                </dt>
                <dd class="inline">
                  通貨のやり取りの履歴・残高さえ通貨の管理者は許可した時以外は閲覧できません。
                </dd>
              </div>
            </dl>
          </div>
        </div>
        <svg
          viewBox="0 0 366 729"
          role="img"
          class="w-[22.875rem] max-w-full drop-shadow-xl mx-auto md:ml-24 lg:ml-32"
        >
          <title>App screenshot</title>
          <defs>
            <clipPath id="2ade4387-9c63-4fc4-b754-10e687a0d332">
              <rect width="316" height="684" rx="36" />
            </clipPath>
          </defs>
          <path
            fill="#4B5563"
            d="M363.315 64.213C363.315 22.99 341.312 1 300.092 1H66.751C25.53 1 3.528 22.99 3.528 64.213v44.68l-.857.143A2 2 0 0 0 1 111.009v24.611a2 2 0 0 0 1.671 1.973l.95.158a2.26 2.26 0 0 1-.093.236v26.173c.212.1.398.296.541.643l-1.398.233A2 2 0 0 0 1 167.009v47.611a2 2 0 0 0 1.671 1.973l1.368.228c-.139.319-.314.533-.511.653v16.637c.221.104.414.313.56.689l-1.417.236A2 2 0 0 0 1 237.009v47.611a2 2 0 0 0 1.671 1.973l1.347.225c-.135.294-.302.493-.49.607v377.681c0 41.213 22 63.208 63.223 63.208h95.074c.947-.504 2.717-.843 4.745-.843l.141.001h.194l.086-.001 33.704.005c1.849.043 3.442.37 4.323.838h95.074c41.222 0 63.223-21.999 63.223-63.212v-394.63c-.259-.275-.48-.796-.63-1.47l-.011-.133 1.655-.276A2 2 0 0 0 366 266.62v-77.611a2 2 0 0 0-1.671-1.973l-1.712-.285c.148-.839.396-1.491.698-1.811V64.213Z"
          />
          <path
            fill="#343E4E"
            d="M16 59c0-23.748 19.252-43 43-43h246c23.748 0 43 19.252 43 43v615c0 23.196-18.804 42-42 42H58c-23.196 0-42-18.804-42-42V59Z"
          />
          <foreignObject
            width="316"
            height="684"
            transform="translate(24 24)"
            clip-path="url(#2ade4387-9c63-4fc4-b754-10e687a0d332)"
          >
            <img src={~p"/images/phone.jpeg"} alt="" />
          </foreignObject>
        </svg>
      </div>
    </div>
  </div>
  <div class="bg-white">
    <div class="mx-auto max-w-7xl px-6 py-24 sm:py-32 lg:px-8 lg:py-40">
      <div class="mx-auto max-w-4xl">
        <h2 class="text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl">
          Frequently asked questions
        </h2>
        <dl class="mt-16 divide-y divide-gray-900/10">
          <.faq id="1" title="VirtualCryptoは無料で利用できますか？">
            <:content>
              VirtualCryptoは無料で利用できます。サーバーに招待するだけで、すぐに利用を開始できます。
            </:content>
          </.faq>
          <.faq
            id="2"
            title="VirtualCryptoを利用したBotを開発することはできますか？"
          >
            <:content>
              はい，VirtualCryptoはAPIを提供しており，Botを簡単に開発することができます．<a
                href={~p"/docs"}
                class="text-indigo-500 hover:text-indigo-600"
              >ドキュメント</a>をご確認ください．
            </:content>
          </.faq>
        </dl>
      </div>
    </div>
  </div>
</div>
