<ul role="list" class="-mx-2 space-y-1">
  <li>
    <.sidebar_nav name="Overview" icon="hero-home" href={~p"/app"} />
  </li>
  <li>
    <.sidebar_nav name="Inbox" icon="hero-inbox" href={~p"/app/inbox"} />
  </li>
</ul>
