<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>VirtualCrypto · Discord Virtual Currency Bot</title>
    <%= csrf_meta_tag() %>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/static/js/app.js") %>"></script>
    <link rel="stylesheet" href="<%= "/static" <> Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel="icon" href="<%= "/static" <> Routes.static_path(@conn, "/favicon.ico") %>"/>
    <script defer type="text/javascript" src="<%= "/static" <> Routes.static_path(@conn, "/js/header.js") %>"></script>
</head>
<body>
<%= content_tag(
      :div,
      raw(""),
      id: "elm-header",
      data: [is_logged_in: is_logged_in?(@conn)])
    %>
<main role="main">
    <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
    <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
    <%= @inner_content %>
</main>
<script>
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register("/sw.js", {scope: '/'}).catch(console.error);
    }
</script>
</body>
</html>
