<form action="#" method="GET" class="grid flex-1 grid-cols-1">
  <input
    name="search"
    placeholder="Search"
    aria-label="Search"
    class="col-start-1 row-start-1 block size-full bg-white pl-8 text-base text-gray-900 outline-none placeholder:text-gray-400 sm:text-sm/6 dark:bg-gray-900 dark:text-white dark:placeholder:text-gray-500"
  />
  <.icon
    name="hero-magnifying-glass"
    class="pointer-events-none col-start-1 row-start-1 size-5 self-center text-gray-400"
  />
</form>
